* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #34D5E0;
    background-image: linear-gradient(to right bottom, #335e61, #2f5e61, #2a5e61, #255d61, #1f5d61, #1f666b, #1e6f75, #1d787f, #238e96, #28a5ae, #2ebdc7, #34d5e0);
  }
  
  /* Titulo */
  .header {
    padding: 30px;
    text-align: center;
    background: transparent;
  }
  
  .header h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Stilos de la barra de navegacion superior */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Stilos de links en topnav */
  .topnav a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Cambio de color al pasar encima */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Columna izquierda */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Columna derecha */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: transparent;
    padding-left: 20px;
  }
  
  /* Imagen */
  .imagen {
    height: auto;
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  .imagen img {
    width: 100%;
    height: auto;
  }

  .img{
    width: 100%;
    height: auto;
  }

  .img2{
    width: 100%;
    height: 100%;
  }

  .logo{
    width: 20%;
  }
  
  /* Efectos para los articulos */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .card a{
    width: 20%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
  }

  .card a:hover{
    opacity: 0.5;
  }

  .card a img{
    width: 100%;
  }
  
  /* Limpia los floats despues de las columnas */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Pie de pagina */
  .footer {
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.158);
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
