* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Titulo */
  .header {
    padding: 30px;
    text-align: center;
    background: rgb(255, 255, 255);
  }
  
  .header h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Stilos de la barra de navegacion superior */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Stilos de links en topnav */
  .topnav a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Cambio de color al pasar encima */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Columna izquierda */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Columna derecha */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Imagen */
  .imagen {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  img{
    width: 100%;
    height: 160px;
  }
  
  /* Efectos para los articulos */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Limpia los floats despues de las columnas */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Pie de pagina */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }