* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #34D5E0;
    background-image: linear-gradient(to right bottom, #335e61, #2f5e61, #2a5e61, #255d61, #1f5d61, #1f666b, #1e6f75, #1d787f, #238e96, #28a5ae, #2ebdc7, #34d5e0);
  }
  
  /* Titulo */
  .header {
    padding: 30px;
    text-align: center;
    background: transparent;
  }
  
  .header h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

  .header h1 a {
    color: #f2f2f2;
  }
  
  .header h1 a:hover {
    color: #00000092;
    transition: .35s;
  }
  
  /* Stilos de la barra de navegacion superior */
  .topnav {
    display: flex;
    width: 100%;
    height: 48px;
    background-color: #333;
  }

  /*MENU HAMBURGUESA*/
  .hamburger-menu {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: flex-end;
  }
/*Input que activa o desactiva el menú, por defecto está no visible*/
  #menu__toggle {
    opacity: 0;
    position: relative;
  }
  /*Estos tres controlan el movimiento del icono hamburguesa*/
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  /*Cuando el toggle está seleccionado (checked) el contenedor menu__box pasa a ser visible*/
  #menu__toggle:checked ~ .menu__box {
    opacity: 1 !important;
  }

  .menu__btn {
    display: flex;
    justify-content:flex-end;
    position: relative;
    top: 12px;
    right: -21em;
    width: 38px;
    height: 26px;
    margin-right: 1.5em;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /*Caja con el listado del menu, por defecto tiene la opacidad al cero*/
  .menu__box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    top: 0;
    right: 0%;
    opacity: 0;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 48px 0 20px 0;
    list-style: none;
    background-color: #333;
    box-shadow: -10px 1px 50px -5px rgba(0,0,0,0.60);
    transition-duration: .25s;
  }
  .menu__box li {
    width: 100%;
    padding: 12px 24px;
    height: 48px;
    margin: 0;
  }
  .menu__box li:hover {
    background-color: #ffffff;
    transition-duration: .12s;    
  }
  .menu__box li:last-of-type {
    background: transparent;
    transition: none;
  }
  .login-menu {
    color: #ffffff;
    width: 100%;
    height: auto;
    border-top: 1px solid #ffffff;
    padding: 10px 0 0 0;
  }
  .menu__item {
    display: block;
    padding: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    color: #333333;
    cursor: pointer;
    transition-duration: 0; 
  }
  
  /* Columna izquierda */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Columna derecha */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: transparent;
    padding-left: 20px;
  }
  
  /* columna izq socios*/

  /* Imagen */
  .imagen {
    height: auto;
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  .imagen img {
    width: 100%;
    height: auto;
  }

  .img{
    width: 100%;
    height: auto;
  }

  .img2{
    width: 100%;
    height: 100%;
  }

  .button1{
    
    padding: 5.5px;
    background-color:#2ebdc7 ;
    color: black;
    border: transparent;
    margin: 5px 5px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }
  
  .button2{
    background-color:#2ebdc7 ;
    color: black;
    border: transparent;
    padding: 20px 40px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    display: inline-flex;
  }

  .logo{
    width: 20%;
  }
  
  /* Efectos para los articulos */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .card a{
    width: 20%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
  }

  .card a:hover{
    opacity: 0.5;
  }

  .card a img{
    width: 100%;
  }
  
  /* Limpia los floats despues de las columnas */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Pie de pagina */
  .footer {
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.158);
    margin-top: 20px;
  }
   /* Pie de pagina administrador*/
  .footeradmin {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.158);
    color: white;
    text-align: center;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .col-25a{
    text-align: left;
    margin-top: 6px;
    padding-left: 4px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


  .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target{
    visibility: visible;
    opacity: 1;
  }

  #popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
  }

  #cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #FF0;
    transition: all 200ms;
  }

  .col-25a{
    border-radius: 1px;
  }

  img.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }

  .hero-text button:hover {
    background-color: #555;
    color: white;
  }